# Titanic Data Analysis
### Sejarah Titanic
   Titanic merupakan salah satu kapal terbesar dan tercanggih yang pernah dibuat pada masanya. Bahkan saking canggihnya salah satu nahkoda Titanic yang merupakan seorang angkatan laut Inggris pernah sesumbar kalau kehendak Tuhanpun tidak akan bisa menenggelamkan kapal ini. Akan tetapi pada tahun 1912, saat mengarungi Samudra Atlantik dalam perjalanan dari Inggris ke Amerika, Titanic menabrak bongkahan es yang menyebabkan kapal terbelah menjadi dua dan mengakibatkan kematian sekitar 1500 dari 2224 penumpangnya. Kejadian yang mengenaskan tersebut sangat mengejutkan dunia, sehingga terbawa sampai sekarang. Pada tahun 1997 kisah Titanic diangkat ke layar lebar dengan dibintangi oleh Kate Winslet dan Leonardo Di Caprio yang membawa kesuksesan besar film tersebut dalam sejarah dunia perfilman dunia dengan menyabet 11 piala Oscar.
   
### Hal Penting yang terjadi
#### Titanic merupakan kapal terbesar, tercanggih dan termewah pada jamannya, tentunya melihat hal tersebut bidikan pasar penumpang Titanic adalah orang-orang berada. Makanya pada saat kapal tersebut tenggelam, penumpangnya kebanyakan adalah orang-orang terkaya di dunia dan sisanya adalah imigran yang sedang mencari penghidupan yang lebih baik dari Eropa.
#### Karena kecanggihannya, Titanic dilengkapi dengan kapal sekoci yang dapat dipergunakan pada saat darurat. Akan tetapi saat pelayarannya yang terakhir, Titanic hanya membawa setengah sekoci dari kapasitas yang tersedia dengan kapasitas angkut 1100an penumpang. Alasan logis kenapa ini terjadi, kemungkinan karena adanya mitos kalau Titanic adalah kapal yang tidak akan bisa tenggelam.
#### Dua jam setelah Titanic mengalami kecelakaan, ada kapal lain yaitu RMS Carphatia yang lewat lokasi kejadian dan berhasil menyelamatkan kurang lebih 700 penumpang.
#### Pada jaman tersebut, kalau terjadi kecelakaan, maka penyelamatan diutamakan pada wanita dan anak-anak.
#### Titanic menabrak bongkahan es pada bagian  depan kapal sebelah kanan yang menyebabkan lubang menganga pada 5 tingkat dari 16 tingkat, sehingga air dapat masuk dari lubang tersebut.
#### Sebelum berangkat ke New York, Amerika, Titanic menyinggahi 3 pelabuhan yaitu Southampton (Inggris), Cherbourg (Perancis) dan Queenstown (Irlandia)

# Big Question here: Bisakah kita menebak apakah seseorang akan selamat atau tidak berdasarkan data penumpang Titanic saat tenggelam?

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

sns.set()

In [ ]:
data_latih = pd.read_csv('https://raw.githubusercontent.com/imdwipayana/DATA/main/Data%20Titanic/train.csv')
data_uji = pd.read_csv('https://raw.githubusercontent.com/imdwipayana/DATA/main/Data%20Titanic/test.csv')

In [ ]:
data_latih.head()

In [ ]:
data_uji.head()

In [ ]:
data_latih.shape

In [ ]:
data_uji.shape

In [ ]:
data_latih.info()

In [ ]:
data_uji.info()

In [ ]:
data_latih.isnull().sum()

In [ ]:
data_uji.isnull().sum()

In [ ]:
sns.heatmap(data_latih.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
sns.heatmap(data_uji.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
plt.figure(figsize=(12, 7))
sns.boxplot(x='Pclass',y='Age',data=data_latih,palette='winter')

In [ ]:
def histogram(kolom_data):
    hidup = data_latih[data_latih['Survived']==1][kolom_data].value_counts()
    mati = data_latih[data_latih['Survived']==0][kolom_data].value_counts()
    df = pd.DataFrame([hidup,mati])
    df.index = ['Hidup','Mati']
    df.plot(kind='bar',stacked=True,figsize=(10,5))

In [ ]:
histogram('Sex')

In [ ]:
histogram('Pclass')

In [ ]:
histogram('SibSp')

In [ ]:
histogram('Parch')

In [ ]:
histogram('Embarked')

In [ ]:
data_gabung = [data_latih, data_uji]

for data in data_gabung:
    data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [ ]:
data_latih['Title'].value_counts()

In [ ]:
data_uji['Title'].value_counts()

In [ ]:
gelar = {'Mr': 0, 'Miss': 1, 'Mrs': 2,
         'Master': 3, 'Dr': 3, 'Rev': 3, 'Col': 3, 'Major': 3, 'Mlle': 3, 'Countess': 3,
         'Ms': 3, 'Lady': 3, 'Jonkheer': 3, 'Don': 3, 'Dona': 3, 'Mme': 3, 'Capt': 3, 'Sir': 3}
for data in data_gabung:
    data['Title'] = data['Title'].map(gelar)

In [ ]:
data_latih.head()

In [ ]:
data_uji.head()

In [ ]:
histogram('Title')

In [ ]:
gender = {'male': 0, 'female': 1}

for data in data_gabung:
    data['Sex'] = data['Sex'].map(gender)

In [ ]:
histogram('Sex')

In [ ]:
# Age
# Data pada kolom 'Age' ada yang kosong, untuk itu kita isi data yang kosong dengan median dari 'Title'
data_latih['Age'].fillna(data_latih.groupby('Title')['Age'].transform('median'), inplace=True)
data_uji['Age'].fillna(data_uji.groupby('Title')['Age'].transform('median'), inplace=True)

In [ ]:
gambar = sns.FacetGrid(data_latih, hue='Survived',aspect=4)
gambar.map(sns.kdeplot,'Age', shade=True)
gambar.set(xlim=(0,data_latih['Age'].max()))
gambar.add_legend()

plt.show()

In [ ]:
gambar = sns.FacetGrid(data_latih, hue='Survived',aspect=4)
gambar.map(sns.kdeplot,'Age', shade=True)
gambar.set(xlim=(0,data_latih['Age'].max()))
gambar.add_legend()
plt.xlim(10,20)

In [ ]:
gambar = sns.FacetGrid(data_latih, hue='Survived',aspect=4)
gambar.map(sns.kdeplot,'Age', shade=True)
gambar.set(xlim=(0,data_latih['Age'].max()))
gambar.add_legend()
plt.xlim(30,40)

In [ ]:
gambar = sns.FacetGrid(data_latih, hue='Survived',aspect=4)
gambar.map(sns.kdeplot,'Age', shade=True)
gambar.set(xlim=(0,data_latih['Age'].max()))
gambar.add_legend()
plt.xlim(40,50)

In [ ]:
gambar = sns.FacetGrid(data_latih, hue='Survived',aspect=4)
gambar.map(sns.kdeplot,'Age', shade=True)
gambar.set(xlim=(0,data_latih['Age'].max()))
gambar.add_legend()
plt.xlim(55,65)

In [ ]:
for data in data_gabung:
    data.loc[ data['Age'] <= 18, 'Age'] = 0
    data.loc[(data['Age'] > 18) & (data['Age'] <= 35), 'Age'] = 1
    data.loc[(data['Age'] > 35) & (data['Age'] <= 46), 'Age'] = 2
    data.loc[(data['Age'] > 46) & (data['Age'] <= 59), 'Age'] = 3
    data.loc[ data['Age'] > 59, 'Age'] = 4

In [ ]:
data_latih.head()

In [ ]:
histogram('Age')

In [ ]:
 #Embarked

In [ ]:
Pclass1 = data_latih[data_latih['Pclass']==1]['Embarked'].value_counts()
Pclass2 = data_latih[data_latih['Pclass']==2]['Embarked'].value_counts()
Pclass3 = data_latih[data_latih['Pclass']==3]['Embarked'].value_counts()
df = pd.DataFrame([Pclass1, Pclass2, Pclass3])
df.index =['Kelas I', 'Kelas II', 'Kelas III']
df.plot(kind='bar',stacked=True, figsize=(10,5))

In [ ]:
embarked = {'S':0, 'C':1, 'Q':2}
for data in data_gabung:
    data['Embarked']=data['Embarked'].map(embarked)

In [ ]:
data_latih['Embarked'].fillna(data_latih.groupby('Pclass')['Embarked'].transform('median'),inplace=True)
data_uji['Embarked'].fillna(data_uji.groupby('Pclass')['Embarked'].transform('median'),inplace=True)

In [ ]:
#Fare

In [ ]:
data_latih['Fare'].fillna(data_latih.groupby('Pclass')['Fare'].transform('median'),inplace=True)
data_uji['Fare'].fillna(data_uji.groupby('Pclass')['Fare'].transform('median'),inplace=True)

In [ ]:
gambar = sns.FacetGrid(data_latih,hue='Survived',aspect=4)
gambar.map(sns.kdeplot,'Fare',shade=True)
gambar.set(xlim=(0,data_latih['Fare'].max()))
gambar.add_legend()

plt.show()

In [ ]:
gambar = sns.FacetGrid(data_latih,hue='Survived',aspect=4)
gambar.map(sns.kdeplot,'Fare',shade=True)
gambar.set(xlim=(0,data_latih['Fare'].max()))
gambar.add_legend()
plt.xlim(0,40)

In [ ]:
for data in data_gabung:
    data.loc[ data['Fare'] <= 30, 'Fare'] = 0
    data.loc[(data['Fare'] > 30) & (data['Fare'] <= 45), 'Fare'] = 1
    data.loc[(data['Fare'] > 45) & (data['Fare'] <= 60), 'Fare'] = 2
    data.loc[ data['Fare'] > 60, 'Fare'] = 3

In [ ]:
data_latih.head()

In [ ]:
# Cabin

In [ ]:
data_latih.Cabin.value_counts()

In [ ]:
for data in data_gabung:
    data['Cabin'] = data['Cabin'].str[:1]

In [ ]:
data_latih.head()

In [ ]:
Pclass1 = data_latih[data_latih['Pclass']==1]['Cabin'].value_counts()
Pclass2 = data_latih[data_latih['Pclass']==2]['Cabin'].value_counts()
Pclass3 = data_latih[data_latih['Pclass']==3]['Cabin'].value_counts()
df = pd.DataFrame([Pclass1, Pclass2, Pclass3])
df.index =['Kelas I', 'Kelas II', 'Kelas III']
df.plot(kind='bar',stacked=True, figsize=(10,5))

In [ ]:
cabin = {'A':0, 'B':0.4, 'C':0.8, 'D':1.2, 'E':1.6, 'F':2, 'G':2.4, 'T':2.8}
for data in data_gabung:
    data['Cabin'] = data['Cabin'].map(cabin)

In [ ]:
data_latih['Cabin'].fillna(data_latih.groupby('Pclass')['Cabin'].transform('median'),inplace=True)
data_uji['Cabin'].fillna(data_uji.groupby('Pclass')['Cabin'].transform('median'), inplace=True)

In [ ]:
#Family Size

In [ ]:
data_latih['AnggotaKeluarga'] = data_latih['SibSp'] + data_latih['Parch'] + 1
data_uji['AnggotaKeluarga'] = data_uji['SibSp'] + data_uji['Parch'] + 1

In [ ]:
gambar = sns.FacetGrid(data_latih, hue='Survived',aspect=4)
gambar.map(sns.kdeplot,'AnggotaKeluarga',shade=True)
gambar.set(xlim=(0,data_latih['AnggotaKeluarga'].max()))
gambar.add_legend()
plt.xlim(0)

In [ ]:
anggota_keluarga = {1:0, 2:0.4,3:0.8, 4:1.2, 5:1.6, 6:2, 7:2.4, 8:2.8, 9:3.2, 10:3.6, 11:4}
for data in data_gabung:
    data['AnggotaKeluarga'] = data['AnggotaKeluarga'].map(anggota_keluarga)

In [ ]:
data_latih.head()

In [ ]:
data_latih = data_latih.drop(['Ticket', 'SibSp','Parch'], axis=1)
data_uji = data_uji.drop(['Ticket', 'SibSp','Parch'], axis=1)
data_latih = data_latih.drop(['PassengerId'],axis=1)

In [ ]:
data_latih.drop('Name', axis=1, inplace=True)
data_uji.drop('Name',axis=1,inplace=True)

In [ ]:
data_fix_dilatih = data_latih.drop('Survived', axis=1)
target = data_latih['Survived']

In [ ]:
data_fix_dilatih.head()

In [ ]:
data_fix_dilatih.isnull().sum()

In [ ]:
data_uji.isnull().sum()

In [ ]:
sns.heatmap(data_fix_dilatih.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
target.isnull().sum()

In [ ]:
sns.heatmap(data_uji.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
from sklearn.svm import SVC

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [ ]:
model = SVC()
score = cross_val_score(model,data_fix_dilatih,target,cv=k_fold,n_jobs=1,scoring='accuracy')
print(score)

In [ ]:
score.mean()*100

In [ ]:
# Testing

In [ ]:
model = SVC()
model.fit(data_fix_dilatih,target)
test_data = data_uji.drop('PassengerId',axis=1).copy()
prediction = model.predict(test_data)

In [ ]:
submission = pd.DataFrame({
    'PassengerId': data_uji['PassengerId'],
    'Survived': prediction
})
submission.to_csv('submission.csv',index=False)

In [ ]:
submission = pd.read_csv('submission.csv')
submission.head()

In [ ]:
data_fix_dilatih.head()

1. Pclass = Kelas Penumpang [1,2,3]
2. Sex = Jenis Kelamin [Perempuan=1, Laki-laki=0]
3. Age = Umur [<18 = 0, 18-35=1,35-46=2, 46-59=3, >59 = 4]
4. Fare = Harga Tiket [<=30 = 0, 30-45 = 1, 45-60 = 2, >60 = 3]
5. Cabin = Ruangan [A=0, B=0.4, C=0.8, D=1.2, E=1.6, F=2.0, G=2.4, T=2.8]
6. Embarked = Pelabuhan Keberangkatan [S=0, C=1, Q=2]
7. Title = Gelar [{'Mr': 0, 'Miss': 1, 'Mrs': 2,
         'Master': 3, 'Dr': 3, 'Rev': 3, 'Col': 3, 'Major': 3, 'Mlle': 3, 'Countess': 3,
         'Ms': 3, 'Lady': 3, 'Jonkheer': 3, 'Don': 3, 'Dona': 3, 'Mme': 3, 'Capt': 3, 'Sir': 3}]
8. AnggotaKeluarha = Jumlah anggota keluarga [1=0, 2=0.4, 3=0.8, 4=1.2, 5=1.6, 6=2.0, 7=2.4, 8=2.8, 9=3.2, 10=3.6, 11=4.0]

In [ ]:
data_saya = [[1,1,2,3, 0, 0, 0,1.2]]

prediksi = model.predict(data_saya)
print(prediksi)

if prediksi == 0:
    print("Hiks, Turut Berdukacita")
else:
    print('Yey.. Kamu masih hidup!!')